<a href="https://colab.research.google.com/github/shashank195/Loan_Predictor/blob/master/Load_Predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model 
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder 

from google.colab import files
df = files.upload()

Saving Dataset.csv to Dataset (2).csv

In [0]:
df='Dataset.csv'

In [0]:
df = pd.read_csv('Dataset.csv')
df = df.dropna()

In [0]:
a={"3+":5,"0":0,"1":1,"2":2}
df['Dependents'] = df['Dependents'].map(a)

In [28]:
le = LabelEncoder() 
df['Loan_ID']= le.fit_transform(df['Loan_ID']) 
df['Gender']= le.fit_transform(df['Gender']) 
df['Married']= le.fit_transform(df['Married']) 
df['Education']= le.fit_transform(df['Education']) 
df['Self_Employed']= le.fit_transform(df['Self_Employed']) 
df['Property_Area']= le.fit_transform(df['Property_Area'])
df['Loan_Status']= le.fit_transform(df['Loan_Status']) 
df.head(5)

   Loan_ID  Gender  Married  ...  Credit_History  Property_Area  Loan_Status
1        0       1        1  ...             1.0              0            0
2        1       1        1  ...             1.0              2            1
3        2       1        1  ...             1.0              2            1
4        3       1        0  ...             1.0              2            1
5        4       1        1  ...             1.0              2            1

[5 rows x 13 columns]

In [0]:
Y = df[['Loan_Status']]   # Dependent Variable 
X = df[['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']] # Independent Variable

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.40 ,random_state = 0)

In [0]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [38]:
classifier = linear_model.LogisticRegression()
m=classifier.fit(X_train, Y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [39]:
y_pred = classifier.predict(X_test)
print(y_pred)

[1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1
 1 0 1 1 1 1 1 0 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1
 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1
 1 1 1 1 0 1 1]

In [40]:
cm = confusion_matrix(Y_test, y_pred)
print(cm)

[[ 24  39]
 [  3 126]]

In [41]:
print("Accuracy of Logistic Regression Model is:",
     metrics.accuracy_score(Y_test,y_pred)*100,"%")
X.head()

Accuracy of Logistic Regression Model is: 78.125 %

   Gender  Married  Dependents  ...  Loan_Amount_Term  Credit_History  Property_Area
1       1        1           1  ...             360.0             1.0              0
2       1        1           0  ...             360.0             1.0              2
3       1        1           0  ...             360.0             1.0              2
4       1        0           0  ...             360.0             1.0              2
5       1        1           2  ...             360.0             1.0              2

[5 rows x 11 columns]

In [42]:
a=float(input("Enter The Gender the Customer Male(1) Female(0) : "))
b=float(input("Married(1),Unmarried(0) : "))
c=float(input("Enter The Total Number of Dependants : "))
d=float(input("Education Graduate(0) Ungraduate(1) : "))
e=float(input("Self Employment No(0) yes(1) : "))
f=float(input("Enter The Applicant Income : "))
g=float(input("Enter The Coapplicant Income : "))
h=float(input("Enter The LoanAmount : "))
i=float(input("Enter The Loan_Amount_Term : "))
j=float(input("Enter The Credit_History 1,0 : "))
k=float(input("Enter The Property_Area Rural(0) , Semi-Urban(1) , Urban(2) : "))
l=m.predict([[a,b,c,d,e,f,g,h,i,j,k]])
print("The Loan Prediction is that ")
if l==0:
  print("the Customer is not Eligible for a Loan !!")
elif l==1:
  print("the Customer is not Eligible for a Loan !!")      ###SHASHANK195

Enter The Gender the Customer Male(1) Female(0) : 0
Married(1),Unmarried(0) : 1
Enter The Total Number of Dependants : 2
Education Graduate(0) Ungraduate(1) : 0
Self Employment No(0) yes(1) : 1
Enter The Applicant Income : 12000
Enter The Coapplicant Income : 15000
Enter The LoanAmount : 200000
Enter The Loan_Amount_Term : 5
Enter The Credit_History 1,0 : 1
Enter The Property_Area Rural(0) , Semi-Urban(1) , Urban(2) : 0
The Loan Prediction is that
the Customer is not Eligible for a Loan !!